.campos textarea {
  height: 6rem;
  font-size: 14px;
}

#ctn_arquivos {
  margin-bottom: 1rem;
}

.a_arquivo {
  margin-top: 2px;
  color: dimgray;
  display: flex;
  flex-flow: row nowrap;
}

.campos .campo a.acao {
  margin-right: auto;
}

.campos .campo a:not(.acao) {
  flex: 1 1 auto;
  cursor: default;
  align-self: center;
  margin-left: 0.5rem;
  font-weight: bold;
}

.excluido,
.a_arquivo.oculto {
  display: none;
}

.a_arquivo a:not(.acao) {
  color: cornflowerblue;
  font-style: normal;
}

.legenda {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 0.5rem;
}

.legenda span {
  display: block;
}

@media (min-width: 768px) {
  .campos textarea {
    height: 50vh;
    width: 50vw;
  }

  .campos .campo a:not(.acao) {
    margin-left: 0;
    padding-left: 0.5rem;
  }

  .legenda {
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    padding: 0.5rem 0;
    font-size: 0.9rem;
  }  
}

@media (min-width: 1024px) {
  #ctn_assuntos,
  #ctn_participantes,
  #ctn_arquivos {
    margin-bottom: 0.5rem;
  }

  .campos .campo label.file {
    min-height: 0;
    height: 1.5rem;
    width: 1.5rem;
  }
}