#ctn_totalizador{
    width: 100%;
    text-align: center;
}
#total_registros{
    font-size: 1rem;
}
.sem_registro{
    text-align: center;
}
@media (min-width: 1024px) {
    #ctn_totalizador{
        /*text-align: right;*/
        margin-bottom: 5px;
    }
    #total_registros{
        margin-right: 2px;
    }
    #pesquisa_ftxt{
        width: 350px;
    }
}

@media (min-width: 768px) {
  #sel_status{
      width: auto;
  }
}

