#ctn_totalizador {
    width: 100%;
    text-align: center;
}

#total_registros {
    font-size: 1rem;
}

.sem_registro {
    text-align: center;
}

.direita {
    text-align: left;
}

.centro {
    text-align: left;
}

@media (min-width: 1024px) {
    #ctn_totalizador {
        /*text-align: right;*/
        margin-bottom: 5px;
    }

    #total_registros {
        margin-right: 2px;
    }

    .direita {
        text-align: right;
    }

    .centro {
        text-align: center;
    }

    td.td_descricao {
        max-width: 40vw;
    }
}