table.header {
    width: 100%;
}

table.header tr td {
    font-size: 24px;
    text-align: center;
}

span.menor {
    font-size: 20px;
    text-align: center;
}

section {
    width: 100%;
}

section.corpo {
    margin-top: 15mm;
}

section.corpo h1.subtitulo {
    background-color: lightgray;
    text-align: left;
    margin-top: 5px;
}

section.corpo h2 {
    font-size: 16px;
    font-weight: bold;
}

section.corpo p{
    margin: 0;
}

section.corpo div.pessoas {
    margin: 0;
}

section.corpo div.tabela {
    margin-top: 5mm;
    text-align: left;
}

section.corpo div.tabela table {
    width: 100%;
    page-break-inside: auto;
}

section.corpo div.tabela table thead tr th {
    background-color: lightgray;
    text-align: left;
}

table tbody td.numero, table thead th.numero {
    text-align: right;
}

table tbody td.negrito, table thead th.negrito {
    font-weight: bold;
}

table, th, td {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

div.observacao {
    margin-top: 40mm;
    width: 100%;
}