#ctn_totalizador {
    width: 100%;
    text-align: center;
}

#total_registros {
    font-size: 1rem;
}

.sem_registro {
    text-align: center;
}

.centro, .direita {
    text-align: left;
}

@media (min-width: 1024px) {
    #ctn_totalizador {
        margin-bottom: 5px;
    }

    #total_registros {
        margin-right: 2px;
    }

    .centro {
        text-align: center;
    }

    .direita {
        text-align: right;
    }
}

@media (min-width: 768px) {
    .campos input[type=text], .campos input[type=email], .campos input[type=password], .campos input[type=search], .campos select, .campos textarea {
        width: auto;
    }
}